body{
    background: #E6F1E9;
    margin: 0;
}
.page-content-container{
    margin-top: 6vw;
    direction: rtl;
    color: #6b705c;
}
.main-titles{
    color: #6b705c;
    font-family: system-ui;
    margin-right: 5vw;
}
.main-title, .second-title{
    font-size: 3.6vw;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
.second-title{
    font-size: 1.4vw;
    margin-top: 8px;
    font-weight: 350;
}

#input-databasesInfo-list {
    width: 15vw;
    height: 27px;
    -webkit-border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 15%);
    border: white;
    color: #6b705c;
    font-size: 20px;
    margin: 10px;
    font-family: system-ui;
    padding-right: 15px;
}
.content-container{
    display: flex;
    justify-content: center;
    height: 750px;
    padding: 15px;
}
#default-dash-container{
    text-align: center;
    margin-top: 8vw;
    height: 100%;
}
img{
    height: 25vw;
}
#default-info-container{
    text-align: right;
    padding: 20px;
    font-family: system-ui;
    font-size: 1.2vw;
    height: 100%;
}
#default-info-container h1{
    color: #2364db;
}
#info-frame-container, #dash-frame-container{
    height: 35vw;
    background-color: white;
    overflow: hidden;
    margin: 0 16px 16px;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center center;
    -webkit-border-radius: 0px 0 20px 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 24px 20px 0 rgb(0 0 0 / 35%);
}
.info-title-container, .dash-title-container{
    display: flex;
    justify-content: space-between;
    margin: 0 16px 0;
    font-family: system-ui;
    -webkit-border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 35%);
    background-color: #84a59d;
}
.info-title-container, .dash-title-container:hover{
    cursor: pointer;
}
.info-title, .dash-title{
    padding: 10px;
    padding-right: 20px;
    margin: 0;
    color: white;
}
#iframe-info, #iframe-dash{
    width: 103%;
    height: 103%;
    border: none;
}
 #iframe-dash {
     margin-right: -4%;
 }
 .arrow {
    padding-top: 24px;
    padding-left: 57px;
    transition: all 0.5s ease;
}
.arrow::before {
    content: "";
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-right: 0.5vw solid white;
    border-top: 0.5vw solid white;
    transform: rotate(315deg);
    border-radius: 0.3vw;
}
ol{
    height: 12vw;
    overflow-x: auto;
    margin: 0;
    list-style-position: inside;
}
