@font-face {
  font-family: MPlus;
  src: url('../fonts/MPLUSRounded1c-Bold.ttf');
}

@font-face {
    font-family: SecularOne;
    src: url("../fonts/SecularOne-Regular.ttf");
}

body{
    background: #E6F1E9;
    margin: 0;
}
.page-content-container{
    margin-top: 6vw;
    direction: rtl;
    color: #6b705c;
}
.main-titles{
    color: #6b705c;
    font-family: system-ui;
    margin-right: 5vw;
}
.main-title, .second-title{
    font-size: 3.6vw;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
.second-title{
    font-size: 1.4vw;
    margin-top: 8px;
    font-weight: 350;
}
.content-container{
    display: flex;
    justify-content: center;
    height: 750px;
    padding: 15px;
}
#input-sources-list{
    width: 15vw;
    height: 27px;
    -webkit-border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 15%);
    border: white;
    color: #6b705c;
    font-size: 20px;
    margin: 10px;
    font-family: system-ui;
    padding-right: 15px;
}
.info-frame-container{
    height: 60vw;
    background-color: white;
    background-image: url('../images/loader.gif');
    overflow: hidden;
    margin: 0 16px 16px;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center center;
    -webkit-border-radius: 0px 0 20px 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 24px 20px 0 rgb(0 0 0 / 35%);
}
.info-title-container{
    display: flex;
    justify-content: space-between;
    margin: 0 16px 0;
    font-family: system-ui;
    -webkit-border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 35%);
    background-color: #84a59d;
}
.info-title-container:hover{
    cursor: pointer;
}
.source-type-img{
    padding: 0 37px 0;
    width: 35vw;
    height: 20vw;
}
.info-title{
    padding: 10px 20px 10px 10px;
    margin: 0;
    color: white;
}
.iframe-info{
    width: 103%;
    height: 103%;
    border: none;
}
.all-type-title{
    border-bottom: 2px solid #6b705c;
    width: 97%;
    font-size: 64px;
    margin: 2vw;
    font-family: 'SecularOne';
    font-weight: 200;
}
.type-title-container{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin: 0 16px 0;*/
    /*color: #2364db;*/
    /*font-family: system-ui;*/
    /*-----------------*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin: 0;*/
    /*font-family: system-ui;*/
    /*background: rgba(0,30,40,0.3);*/
    /*color: white;*/
    /*padding: 0 33px;*/
    /*-webkit-border-radius: 10px 10px 0 0;*/
    /*-----------------*/
    display: flex;
    justify-content: space-between;
    font-family: system-ui;
    padding: 0 33px;
}
.type-title-container:hover{
    cursor: pointer;
}
.type-title{
    font-weight: 400;
    font-size: 53px;
    margin: 0;
    border-bottom: 3px solid #98D9D5;
    width: 50%;
    color: rgba(67,188,205,1);
    /*color: rgb(70,70,70);*/
}
.type-container, .info-container{
    margin: 3vw 0 9vw 0;
}
.type-info-container{
    font-family: system-ui;
    font-size: 22px;
    margin: 0 0 40px;
}
p{
    line-height: 1.7;
    letter-spacing: 0.5px;
    padding: 0 62px;
    color:#333;
}
.arrow.type-arrow{
    padding-top: 44px;
}
.arrow.type-arrow::before{
    border-right: 0.5vw solid #2364db;
    border-top: 0.5vw solid #2364db;
}
.arrow {
    padding-top: 24px;
    padding-left: 57px;
    transition: all 0.5s ease;
}
.arrow::before {
    content: "";
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-right: 0.5vw solid white;
    border-top: 0.5vw solid white;
    transform: rotate(315deg);
    border-radius: 0.3vw;
}

#scroll-up{
    position: fixed;
    bottom: 0;
    margin: 0 40px;
}

.button-top {
    padding: 5px;
    margin: 30px auto;
    background: rgba(67,188,205,0.8);
    height: 4.2vw;
    width: 4.2vw;
    border-radius: 50%;
    transition: all 0.2s linear;
}
.button-top::before {
    content: "";
    position: absolute;
    margin: 1.1vw 1.1vw;
    width: 1.5vw;
    height: 1.5vw;
    border-right: 0.5vw solid white;
    border-top: 0.5vw solid white;
    transform: rotate(-45deg);
    border-radius: 0.3vw;
}
.button-top:hover {
    cursor: pointer;
    animation: pointTop 1s ease infinite;
}

@keyframes pointTop {
    0%{transform: translate3d(0, 0, 0);}
    50%{transform: translate3d(0, -10px, 0);}
    100%{transform: translate3d(0, 0, 0);}
}