@font-face {
    font-family: SecularOne;
    src: url("../fonts/SecularOne-Regular.ttf");
}
*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: whitesmoke;
}

.page-content-container{
    width: 100%;
    margin-top: 6rem;
    direction: rtl;
}

.main-titles{
    color: #6b705c;
    font-family: system-ui;
    margin-right: 5vw;
}
.main-title, .second-title{
    font-size: 3.6vw;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
.second-title{
    font-size: 1.4vw;
    margin-top: 8px;
    font-weight: 350;
}
/*---------------- TOOLS STYLE ------------------*/

.tools-title{
    font-family: system-ui;
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 2vw 3vw 2px 3vw;
    color: rgba(67,188,205,1);
    border-bottom: 5px solid rgba(67,188,205,1);
}
.tools-container{
    display: flex;
    justify-content: right;
    margin: 3vw;
    flex-wrap: wrap;
    font-family: system-ui;
}
.tool-container{
    width: 14vw;
}
.tool{
    height: 4vw;
    background-color:cornflowerblue;
            /*#a5a58d;*/
    color: white;
    font-size: x-large;
    font-family: system-ui;
    padding: 1vw;
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: left center;
}
.tool:hover{
    cursor: pointer;
}
.tools-container > * {
    margin: 20px;
}