<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>מאתרים ומאגרים</title>
    <link rel="stylesheet" href="../css/topbarStyle.css">
    <link rel="stylesheet" href="../css/DataTables-1.css">
<!--        <link rel="stylesheet" href="../css/Home.css">-->

</head>
<body>

<!-- topbar -->
<div class="topbar" id="topbar">
    <div class="topbar-stmbols">
        <img class="padam-symbol" src='./images/padam_symbol.png'/>
        <img class="padam-symbol" src='./images/intelligence_symbol.png'/>
    </div>
    <div class="topbar-title">
        <h1 id="main-topbar-title">פיקוד דרום</h1>
        <h2 id="second-topbar-title">ענף מרחב חכם</h2>
    </div>
    <div class="topbar-nev">
        <div class="home-nav-container">
            <a href="/"><div class="home-nav-link"></div></a>
        </div>
        <div class="dropdown-nav-container">
            <a href="#" class="dropdown-nav-link">
                <div class="dropdown-nav close" id="dropdown-nav">
                    <div class="row" id="row-1"></div>
                    <div class="row" id="row-2"></div>
                    <div class="row" id="row-3"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="dropdown-menu-container" id="dropdown-menu-container">
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="/">דף בית</a>
        <a href="updates">תור עדכונים</a>
        <a href="dataTables">מאתרים ומאגרים</a>
        <a href="#">מקורות וסג"חים</a>
        <a href="#">כלים</a>
    </div>
</div>

<!-- end topbar -->

<div class="page-content-container">
    <div class="main-titles">
        <h1 class="main-title">מאגרים ומאתרים</h1>
        <h2 class="second-title">חפשו וקראו על המאגרים והמאתרים שקיימים בזירה
            <input list="dataTables-list" name="dataTables-list" id="input-dataTables-list" placeholder="   הקלידו כאן...">
        </h2>

    </div>

    <datalist id="dataTables-list">
        {% set ind = namespace(i=0) %}
        {% for data_name in data[0]: %}
            <option value="{{data_name}}" class="{{data_name}}" id="{{ind.i}}"></option>
        {% set ind.i = ind.i + 1 %}
        {% endfor %}
    </datalist>

    <div class="info-title-container" id="info-title-container">
        <h1 class="info-title">הצג מידע</h1>
        <div class="arrow" id="info-arrow"></div>
    </div>
    <div id="info-frame-container">
        <div id="default-info-container">
            <p><strong>מאגר מידע</strong>
            הוא אוסף מסודר של נתונים בתחום מסוים, המאפשר אחזור נתונים אלה לשם הפקת המידע הנחוץ למשתמש.
            <br>
            הדרך הנפוצה כיום לניהול מאגר מידע מורכב היא אחסון הנתונים בבסיס נתונים, ועדכונם ואחזורם באמצעות מערכת מידע מתאימה. קודם לפיתוח טכנולוגיית בסיסי הנתונים אוחסנו מאגרי מידע ממוחשבים בקבצים (לגישה סדרתית או גישה ישירה). לניהול מאגר מידע פשוט ניתן להשתמש בגיליון אלקטרוני. לפני התפתחות המחשוב אוחסנו מאגרי מידע בכרטיס מנוקבים, בכרטסות ובאמצעים נוספים.
            <br><br><strong><u>
            דוגמאות:
            <br></strong></u>
            <ul>
                <li>מרשם האוכלוסין הוא מאגר מידע המכיל נתונים על כל תושביה ואזרחיה של המדינה.</li><br>
                <li>קטלוג של ספרייה הוא מאגר מידע המכיל את רשימת הפריטים הנמצאים בספרייה, ומאפשר איתור כל פריט. </li>
            </ul>
            <br>
            מאגר מידע מאפשר קבלת מידע על כל פריט שבו (למשל: קבלת פרטיו של אזרח מסוים), קבלת רשימה של פריטים המקיימים תנאי מסוים (למשל: רשימת כל האזרחים שהגיעו לגיל מאה שנה) ועיבוד סטטיסטי של הנתונים (למשל: התפלגות האוכלוסייה לפי שנתונים).
            </p>
        </div>
    </div>

    <br>

    <div class="dash-title-container" id="dash-title-container">
        <h1 class="dash-title">צפה בדשבורד</h1>
    </div>
    <div id="dash-frame-container">
        <div id="default-dash-container">
                <img src="../images/dash2.png">
            </div>
    </div>

</div>

<script src="../javascript/http_code.jquery.com_jquery-3.5.1.js"></script>
<script>
    let selected = document.getElementById("input-dataTables-list");
    let iframe_info = document.createElement('iframe');
    let iframe_dash = document.createElement('iframe');
    iframe_info.setAttribute("id", "iframe-info");
    iframe_dash.setAttribute("id", "iframe-dash");

    //load information and dashboard then selected in droplist
    function get_html() {

        let info_div = document.getElementById("info-frame-container");
        let dash_div = document.getElementById("dash-frame-container");

        //remove default info and dash
        $("#default-info-container").fadeOut();
        $("#default-dash-container").fadeOut();

        //add load animation
        info_div.style.backgroundImage="url('../images/loader.gif')";
        dash_div.style.backgroundImage="url('../images/loader.gif')";

        // info_div.style.animation="fading 1.5s infinite";
        // dash_div.style.animation="fading 1.5s infinite";

        let ind = document.getElementsByClassName(selected.value)[0].id; //get ind of pages to load

        //parsing info and dashboards array
        let url_arr = {{ data[1]|safe|replace(" ",",") }}

        let dash_arr = {{ data[2]|safe|replace(" ",",") }}

        //load url to iframes
        iframe_info.src = url_arr[ind]+"#firstHeading";
        iframe_dash.src = dash_arr[ind];

        //link the iframe element to his container
        info_div.appendChild(iframe_info);
        dash_div.appendChild(iframe_dash);

        //stop loading Animation when iframes ready
        // iframe_info.onload = function (){document.getElementById("info-frame-container").style.animation=""};
        // iframe_dash.onload = function (){document.getElementById("dash-frame-container").style.animation=""};

    }
    selected.onchange = function (){get_html()};

    //show info if "info-title" clicked
    let info = document.getElementById("info-title-container");
    info.onclick= function (){$("#info-frame-container").slideToggle();};

    //show dashboard if "dash-title" clicked
    let dash = document.getElementById("dash-title-container");
    dash.onclick= function (){$("#dash-frame-container").slideToggle();};

</script>
<script src="../javascript/topbarAnimation.js"></script>
</body>

</html>