<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>מידע כללי על מרחב חכם</title>
    <link rel="stylesheet" href="../css/topbarStyle.css">
    <link rel="stylesheet" href="../css/infoSidebar.css">
    <link rel="stylesheet" href="../css/info.css">

</head>
<body>
<!-- topbar -->
<div class="topbar" id="topbar">
    <div class="topbar-stmbols">
        <img class="padam-symbol" src='./images/padam_symbol.png'/>
        <img class="padam-symbol" src='./images/intelligence_symbol.png'/>
    </div>
    <div class="topbar-title">
        <h1 id="main-topbar-title">פיקוד דרום</h1>
        <h2 id="second-topbar-title">ענף מרחב חכם</h2>
    </div>
    <div class="topbar-nev">
        <div class="home-nav-container">
            <a href="/"><div class="home-nav-link"></div></a>
        </div>
        <div class="dropdown-nav-container">
            <a href="#" class="dropdown-nav-link">
                <div class="dropdown-nav close" id="dropdown-nav">
                    <div class="row" id="row-1"></div>
                    <div class="row" id="row-2"></div>
                    <div class="row" id="row-3"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="dropdown-menu-container" id="dropdown-menu-container">
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="/">דף בית</a>
        <a href="updates">תור עדכונים</a>
        <a href="databasesInfo">מאתרים ומאגרים</a>
        <a href="sourcesInfo">מקורות וסג"חים</a>
        <a href="tools">כלים</a>
        <a href="info">מידע כללי</a>
    </div>
</div>
<!-- end topbar -->

<div class="page-container">
<!--    sidebar     -->
    <div class="side-bar-container">
        <div class="sidebar-content-container">
        <h2 class="sidebar-title">מידע וידע</h2>
        <hr>
        <ul class="main-list">
            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoProcessing">
                        <img class="sidebar-icon" src="../images/engineering.png">
                        עיבוד והנגשה
                    </a>
                    <div class="arrow" id="arrow-0"></div>
                </div>
                <div class="second-list-container close" id="second-list-0">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoProcessing">מידע כללי</a></li>
                        <li class="second-item"><a href="#">כלי 1</a></li>
                        <li class="second-item"><a href="#">כלי 2</a></li>
                    </ul>
                </div>
            </li>

            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoLab">
                        <img class="sidebar-icon" src="../images/data-storage.png">
                        מעבדת דאטא
                    </a>
                    <div class="arrow" id="arrow-1"></div>
                </div>
                <div class="second-list-container close" id="second-list-1">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoLab">מידע כללי</a></li>
                        <li class="second-item"><a href="#">כלי 1</a></li>
                        <li class="second-item"><a href="#">כלי 2</a></li>
                    </ul>
                </div>
            </li>

            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoGeography">
                        <img class="sidebar-icon" src="../images/map.png">
                        גיאוגרפיה
                    </a>
                    <div class="arrow" id="arrow-2"></div>
                </div>
                <div class="second-list-container close" id="second-list-2">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoGeography">מידע כללי</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <h2 class="sidebar-title">כרמייה</h2>
        <hr>
        <ul class="main-list">
            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoDevelopment">
                        <img class="sidebar-icon" src="../images/idea.png">
                        פיתוח
                    </a>
                    <div class="arrow" id="arrow-3"></div>
                </div>
                <div class="second-list-container close" id="second-list-3">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoDevelopment">מידע כללי</a></li>
                        <li class="second-item"><a href="#">כלי 1</a></li>
                        <li class="second-item"><a href="#">כלי 2</a></li>
                        <li class="second-item"><a href="#">כלי 3</a></li>
                        <li class="second-item"><a href="#">כלי 4</a></li>
                        <li class="second-item"><a href="#">כלי 5</a></li>
                        <li class="second-item"><a href="#">כלי 6</a></li>
                    </ul>
                </div>
            </li>

            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoTargets">
                        <img class="sidebar-icon" src="../images/target.png">
                        יעדים
                    </a>
                    <div class="arrow" id="arrow-4"></div>
                </div>
                <div class="second-list-container close" id="second-list-4">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoTargets">מידע כללי</a></li>
                        <li class="second-item"><a href="#">כלי 1</a></li>
                        <li class="second-item"><a href="#">כלי 2</a></li>
                    </ul>
                </div>
            </li>

            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoActivity">
                        <img class="sidebar-icon" src="../images/attention.png">
                        פעילות והתרעה
                    </a>
                    <div class="arrow" id="arrow-5"></div>
                </div>
                <div class="second-list-container close" id="second-list-5">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoActivity">מידע כללי</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <h2 class="sidebar-title">מקורות וסנסורים</h2>
        <hr>
        <ul class="main-list">
            <li class="main-item">
                <div class="selected-container">
                    <a class="selected" href="infoSensors">
                        <img class="sidebar-icon" src="../images/briefing.png">
                        פרוייקטים
                    </a>
                    <div class="arrow" id="arrow-6"></div>
                </div>
                <div class="second-list-container close" id="second-list-6">
                    <ul class="second-list">
                        <li class="second-item"><a href="infoSensors">מידע כללי</a></li>
                        <li class="second-item"><a href="#">כלי 1</a></li>
                        <li class="second-item"><a href="#">כלי 2</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    </div>
<!-- end sidebar-->

    <div class="organization-struct-container">
        <div class="main-titles">
            <h1 class="main-title">מידע כללי על מרחב חכם</h1>
            <h2 class="second-title">כאן תוכלו לקרוא על המדורים שלנו ותחומי העיסוק השונים</h2>
        </div>

<!--    organization structure    -->
        <figure>
            <ul class="tree">
                <li>
                    <div>
                        <code class="section" id="section-1">ענף מרחב חכם</code>
                        <span class="tooltiptext" id="tooltiptext-1">
                            מלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                            לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                        </span>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <code class="section" id="section-2">מידע וידע</code>
                                <span class="tooltiptext" id="tooltiptext-2">
                                    לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                </span>
                            </div>

                            <ul>
                                <li>
                                    <div>
                                       <code class="section" id="section-3"><a href="infoGeography"> גיאוגרפיה</a></code>
                                        <span class="tooltiptext" id="tooltiptext-3">
                                            לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                        </span>
                                    </div>

                                </li>
                                 <li>
                                    <code class="section" id="section-4"><a href="infoLab">מעבדת דאטא</a></code>
                                     <span class="tooltiptext" id="tooltiptext-4">
                                         לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                     </span>
                                </li>
                                <li>
                                    <code class="section" id="section-5"><a href="infoProcessing"> עיבוד והנגשה</a></code>
                                     <span class="tooltiptext" id="tooltiptext-5">
                                         לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                     </span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <code class="section" id="section-6">כרמייה</code>
                            <span class="tooltiptext" id="tooltiptext-6">
                                לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                            </span>
                            <ul>
                                <li>
                                    <code class="section" class="section" id="section-7"><a href="infoDevelopment">פיתוח</a></code>
                                    <span class="tooltiptext" id="tooltiptext-7">
                                        לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                    </span>

                                </li>
                                <li>
                                    <code class="section" class="section" id="section-8"><a href="infoTargets">יעדים</a></code>
                                    <span class="tooltiptext" id="tooltiptext-8">
                                        לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                    </span>

                                </li>
                                 <li>
                                    <code class="section" id="section-9"><a href="infoActivity">התרעה ופעילות</a></code>
                                     <span class="tooltiptext" id="tooltiptext-9">
                                         לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                                     </span>
                                </li>
                            </ul>
                        </li>

                         <li>
                            <code class="section" id="section-10"><a href="infoSensors">מקורות וסנסורים</a></code>
                             <span class="tooltiptext" id="tooltiptext-10">
                                 לא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרםלא מלא טקסט הסברים על הענף מה יש בו גכעח געאל קכחרלך לרח עךלרע לכע כלער  לכל לכהלכ לעא םג כרם
                             </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </figure>
    </div>
</div>

<script src="../javascript/http_code.jquery.com_jquery-3.5.1.js"></script>
<script src="../javascript/topbarAnimation.js"></script>
<script src="../javascript/sidebarInfo.js"></script>
</body>
</html>