<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width: 500px;
            background: antiquewhite;
            height: 100px;
        }
        pre{
            color: red;
            background: aqua;
            height: 200px;
        }
    </style>
</head>
<body>
 <div ondrop="dropHandler(event)" ondragover="dragOverHandler(event)"> mail </div>
    <pre id="output"></pre>
<script>

    // window.ondrag().preventDefault();
    // window.ondrop(function (){event.preventDefault()});
function dropHandler(ev) {
  console.log('File(s) dropped');

  // Prevent default behavior (Prevent file from being opened)
  ev.preventDefault();

  if (ev.dataTransfer.items) {
    // Use DataTransferItemList interface to access the file(s)
    for (let i = 0; i < ev.dataTransfer.items.length; i++) {
      // If dropped items aren't files, reject them
      if (ev.dataTransfer.items[i].kind === 'file') {
          let file = ev.dataTransfer.items[i].getAsFile();
          // read dropped file
          let fr = new FileReader();
          fr.onload = function () {
              document.getElementById('output')
                  .textContent = fr.result;
          };
          fr.readAsText(ev.dataTransfer.files[0]);
      }
        console.log('... file[' + i + '].name = ' + file.name);
    }
  } else {
    // Use DataTransfer interface to access the file(s)
    for (var i = 0; i < ev.dataTransfer.files.length; i++) {
      console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
    }
  }
}
function dragOverHandler(ev) {
  console.log('File(s) in drop zone');

  // Prevent default behavior (Prevent file from being opened)
  ev.preventDefault();
}
</script>
</body>
</html>