<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>כלים למשתמש</title>
    <link rel="stylesheet" href="../css/topbarStyle.css">
    <link rel="stylesheet" href="../css/tools.css">
</head>
<body>

<!-- topbar -->
<div class="topbar" id="topbar">
    <div class="topbar-stmbols">
        <img class="padam-symbol" src='./images/padam_symbol.png'/>
        <img class="padam-symbol" src='./images/intelligence_symbol.png'/>
    </div>
    <div class="topbar-title">
        <h1 id="main-topbar-title">פיקוד דרום</h1>
        <h2 id="second-topbar-title">ענף מרחב חכם</h2>
    </div>
    <div class="topbar-nev">
        <div class="home-nav-container">
            <a href="/"><div class="home-nav-link"></div></a>
        </div>
        <div class="dropdown-nav-container">
            <a href="#" class="dropdown-nav-link">
                <div class="dropdown-nav close" id="dropdown-nav">
                    <div class="row" id="row-1"></div>
                    <div class="row" id="row-2"></div>
                    <div class="row" id="row-3"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="dropdown-menu-container" id="dropdown-menu-container">
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="/">דף בית</a>
        <a href="updates">תור עדכונים</a>
        <a href="databasesInfo">מאתרים ומאגרים</a>
        <a href="sourcesInfo">מקורות וסג"חים</a>
        <a href="tools">כלים</a>
        <a href="info">מידע כללי</a>
    </div>
</div>

<!-- end topbar -->

<div class="page-content-container">

    <div class="main-titles">
        <h1 class="main-title">כלים למשתמש</h1>
        <h2 class="second-title">כאן תוכלו למצוא כלים למטרות שונות</h2>
    </div>

<!--    TAMA TOOLS    -->
    <div class="content-container">
        <div class="title-container">
                <h1 class="tools-title">כלים לתמא</h1>
        </div>

        <div class="tools-container">
            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/attention.png')">
                    כלי 1
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/lab-tool1.png')">
                    כלי 2
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/lab-tool2.png')">
                    כלי 3
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/idea.png')">
                    כלי 4
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/target.png')">
                    כלי 5
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/briefing.png')">
                    כלי 6
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool" style="background-image: url('../images/map.png')">
                    כלי 7
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="title-container">
                <h1 class="tools-title">כלים לתמא</h1>
        </div>

        <div class="tools-container">
            <div class="tool-container">
                <div class="tool">
                    כלי 1
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>

            <div class="tool-container">
                <div class="tool">
                    כלי 2
                </div>
                <span>מיצוי ועיבוד נתונים לפי פרמטרים שונים</span>
            </div>
        </div>
    </div>

</div>

<script src="../javascript/topbarAnimation.js"></script>

</body>
</html>